<h3><%= @customer.name %> </h3>
<h3><%= @customer.supermarket.name %> </h3>
<% @customer.items.each do |item| %>
    <p><%= item.name %></p>
    <p><%= number_to_currency(item.price / 100) %></p>
<% end %>

<h3>Total cost: <%= number_to_currency(@customer.total_cost / 100) %> </h3>